@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
/* Primary Text colors */
:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
  }
  
  /* Background gradient */
  :root {
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
  }
  
  /* Neutral Text colors */
  :root {
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
  }
  
  /* Dividers */
  :root {
    --light-grayish-blue: hsl(240, 5%, 91%);
  }
  .my-element {
    color: var(--very-dark-desaturated-blue);
    background-color: var(--soft-red);
  }
  /* ***********************Config file ********************************************* */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}


h3 {
  color: var(--very-dark-desaturated-blue);
  font-size: 100vh;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 50vh;
}

button {
  color: var(--very-dark-grayish-blue);
  font-size: 14px;
  line-height: 14px;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
/* Remove the focus indicator on mouse-focus for browsers that do support :focus-visible */
button:focus:not(:focus-visible) {
  outline: 0;
}

button:focus-visible {
  /* Draw a very noticeable focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline: 2px dashed var(--soft-red);
  outline-offset: 0px;
}

#root {
  width: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 44px;
}

.font-weight-bold {
  font-weight: 700;
}

    
/* ```````````````````````````````````main```````````````````````````````````````````` */
.component {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
  background-color: #ffffff;
  background-image: url(../../assets/svg/bg-pattern-desktop.svg);
  background-position: -565px -295px;
  background-repeat: no-repeat;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  display: flex;
}
/***********************************Component****************************************  */


.illustration {
  width: 100%;
  position: relative;
 
}

.illustration__box {
  position: absolute;
  z-index: 999;
  top: 200px;
  left: -95px;
  
}

.illustration__woman-desktop {
  position: absolute;
  top: 60px;
  left: -77px;
  clip-path: inset(0px 0px 0px 77px);
}

.illustration__woman-mobile {
  display: none;
  
}
/*****************************Illustration************************************  */

.faq {
  color: #48556a;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;
}

.faq__title {
  margin: 0;
  padding-bottom: 25px;
  width: 50vh;
  text-align: center;
  font-size: 70px;
  line-height: 30px;
  font-weight: bold;
}

.faq__question {
  font-size: 13px;
  line-height: 18px;
  max-width: 350px;
  width: 100%;
  border-bottom: 1px solid #d8e1e9;
}

.faq__question-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: left;
}

.faq__question-button::after {
  content: url(../../assets/svg/icon-arrow-down.svg);
  margin-right: 17px;
  transform: rotate(90deg);
}

.faq__question-button:hover {
  color: #e27671;
}

.faq__desc {
  margin-top: 0;
  margin-bottom: 3px;
  height: 0;
  overflow: hidden;
  transition: all 200ms ease-out;
  text-align: left;
}


/* **********************************Faq*************************************** */
.attribution {
  font-size: 50px;
  text-align: center;
  color: var(--light-grayish-blue);
  padding-top: 10px;
}

.attribution a {
  color: var(--soft-violet);
}
  /***********************************attribution****************************************  */

  .faq__desc.show-description {
    height:auto;
    margin-bottom: 15px;
    text-align: left;
    
  }
  
  /* Arrows */
  
  /* closed */
  .faq__question-button::after {
    transition: transform 300ms ease-out;
  }
  
  /* open */
  .font-weight-bold::after {
    transform: rotate(720deg);
  }
  /*******************************animation***********************************  */


/* Media query for screens with a maximum width of 800px */
@media (max-width: 800px) {
    .illustration__woman-desktop {
      max-width: 120%;
    }
  }
  
  /* Media query for screens with a maximum width of 700px */
  @media (max-width: 700px) {
    .container {
      /* Added padding here to the mobile container
      so illustration__woman-desktop would not be cropped at the top */
      padding-top: 105px;
    }
  
    .component {
      max-width: 327px;
      background-image: url(../../assets/svg/bg-pattern-mobile.svg);
      background-position: top;
      flex-direction: column;
    }
  
    .illustration__box {
      display: none;
    }
  
    .illustration__woman-desktop {
      display: none;
    }
  
    .illustration__woman-mobile {
      display: block;
      margin: 0 auto;
      position: absolute;
      top: -105px;
      left: 12px;
    }
  
    .faq {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 132px;
      padding-bottom: 48px;
    }
  
    .faq__question {
      max-width: 279px;
      word-break: break-word;
      text-align: center; /* Add this line to center the question */
      margin-left: auto; /* Add this line to align question to the right */
      margin-right: auto; /* Add this line to align question to the left */
    }
  
    .faq__question-button {
      width: 100%;
      max-width: 280px;
      font-size: 13px;
      line-height: 13px;
    }
  
    .faq__question-button::after {
      padding-right: 0px;
      margin-left: 5vh;
    }
  }
  /* *****************************responsive****************************** */


  
 
   