html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cus-flex{
    display:flex;
    justify-content:space-between;
}

.login-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .login-page {
    flex: 1;
  }

  .left-panel{
    min-width:500px;
  }

  .Right-panel{
    justify-content:center;
    align-items:center;
    background: linear-gradient(to bottom right, #f3f5f9, #ffffff);
    border-radius: 15px;
  }

  .slide-enter {
    transform: translateX(-100%);
  }
  
  .slide-enter-active {
    transform: translateX(0);
    transition: transform 500ms;
  }
  
  .slide-exit {
    transform: translateX(0);
  }
  
  .slide-exit-active {
    transform: translateX(-100%);
    transition: transform 500ms;
  }
  
  .google-button-container {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .slide-image-container {
    position: relative;
  }
  
  .blur-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* background-color: rgba(0, 0, 0, 0.1); Adjust the opacity and color as needed */
    backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
  }
  
  .login-section{
    margin:0 4rem;
    padding:1rem 2rem;
    border-radius:15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }