@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");

.pl-5 {
  display: flex;
  align-items: center;
  font-family: "Cherry Bomb One", cursive;
  font-size: xx-large;
  color: #293fce;
}
.nav-container {
  background-color: #e7eeff;
  font-weight: 600;
}

.tryfree-btn {
  background-color: #293fce;
  color: aliceblue;
  width: 130px;
  letter-spacing: 1px;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #293fce;
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #293fce;
  transition: width 0.3s ease-in-out;
}
