.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 20px;
    transform-style: preserve-3d;
    height: 320px;
    width: 320px;
    transition: transform var(--transition-duration, 0.2s) ease, transform-origin var(--transition-duration, 0.2s);
  }
  
  .card:hover {
    --transition-duration: 0.2s;
    transform: perspective(1000px) rotateY(180deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card.flip {
    transform: perspective(1000px) rotateY(180deg);
  }
  
  .card .front,
  .card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
    text-align: center;
  }
  .card .front {
    transform: rotateY(0deg);
  }
  
  .card .back {
    transform: rotateY(180deg);
    color: gray;
    font-size: larger;
  }
  