

  @import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

.pl-5{
    display: flex;
    align-items: center;
    font-family: 'Cherry Bomb One', cursive;
    font-size: xx-large;
    color: #293fce;
}
.nav-container{
    background-color: #e7eeff;
    font-weight: 600;
}

.tryfree-btn{
    background-color: #293fce;
    color: aliceblue;
    width: 130px;
    letter-spacing: 1px;
}