@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
    background-color: black;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background-color: black;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(119, 72, 248)),
      color-stop(0.72, rgb(131, 103, 244)),
      color-stop(0.34, rgb(110, 82, 234)),
      color-stop(0.86, rgb(0, 0, 0))
    );
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    border: 1px solid black;
  }
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behaviour: smooth;
  box-sizing: border-box;
}
