@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap");
@import url(https://fonts.googleapis.com/css?family=Denk+One);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");

@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  --border-size: 0.4px;
  --border-angle: 0turn;
  width: 60vmin;
  height: 50vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      rgba(34, 17, 51, 0.982),
      rgb(17, 17, 34) 50%,
      rgb(34, 17, 51)
    ),
    conic-gradient(
      from var(--border-angle),
      transparent 20%,
      rgb(93, 107, 255),
      rgb(149, 0, 255)
    );
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}
.art {
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}
.helpbox {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(179, 0, 255, 0.5);
}

.header {
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213),
    conic-gradient(from var(--border-angle), transparent 100%, #08f, #f03);
}

.blog {
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}

.navbox {
  box-shadow: 0 0 10px rgba(216, 191, 216, 0.5),
    0 4px 6px -1px rgba(126, 62, 130, 0.3);
}

.blogtitle {
  --border-size: 3px;
  --border-angle: 0turn;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box:hover {
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
    background-color: black;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background-color: black;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(119, 72, 248)),
      color-stop(0.72, rgb(131, 103, 244)),
      color-stop(0.34, rgb(110, 82, 234)),
      color-stop(0.86, rgb(0, 0, 0))
    );
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    border: 1px solid black;
  }
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behaviour: smooth;
  box-sizing: border-box;
}

.faq {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(240, 178, 251, 0.5);
  border-left: 1px solid rgba(214, 150, 246, 0.5);
  backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5);
}

.create-text {
  background: linear-gradient(
    45deg,
    rgb(167, 85, 255),
    rgb(255, 132, 153),
    rgb(92, 92, 255),
    rgb(255, 255, 105)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-top: 2px solid rgb(204, 136, 241);
  border-bottom: 2px solid rgb(64, 50, 255);
}

.bghomelayout {
  background: linear-gradient(135deg, #0f0e13, #030304, #000000);
  margin: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navLinks {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}

.pointer {
  border-radius: 15px 15px 0 0;
}

.pointer1 {
  border-radius: 0 20px 20px 20px;
  backdrop-filter: blur(10px);
}

.about {
  background-image: url(./assets/about/EC.jpg);
}

.mobile-menu-open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  padding: 25px;
  margin-right: 10px;
  line-height: 40px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border: solid 2px;
}

.mobile-menu-closed {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, 0);
}

.sweet-title {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 8rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;
}
.sweet-title span {
  display: block;
  position: relative;
}
.sweet-title span:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9, -2px 2px 1px #e94aa1,
    1px -1px 1px #f736f9;
  z-index: 1;
}
.sweet-title span:nth-child(1) {
  text-align: center;
}
.sweet-title span:nth-child(2) {
  padding-left: 2.25rem;
}

/* Text animation on hero section */

.mobile-menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  position: relative;
  top: 30%;
}

.mobile-menu-toggle .bar {
  width: 20px;
  height: 2px;
  background: linear-gradient(to left, #cd32cd, #8d56e1); /* Gradient background */

  margin-bottom: 4px;
  transition: transform 0.5s ease-in-out;
}

.mobile-menu-toggle.open .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.mobile-menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.mobile-menu-toggle.open .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100%;
  height: 100vh;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 91;
  background-color: rgba(25, 4, 58, 0.7); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  border: 1px solid white; /* White border */
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 21px;
  margin-bottom: 10px;
  padding: 5px;
}

.mobile-menu button {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
}
.mobile-menu button:hover {
  background-color: #7c3aed;
  transform: scale(1.1);
  cursor: pointer;
}
.mobile-menu > .link {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.mobile-menu > .link:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #7c3aed;
  animation: lineAnimation 0.5s ease-in-out;
}

@keyframes lineAnimation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/* Highlight Section Custom CSS  */

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #f36aff, transparent);
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
}

.highlightHeading {
  font-family: "Rocher";
  font-size: 40px;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}
.purples {
  font-palette: --Purples;
}

h1.deepshadow {
  font-size: 50px;
  color: #8e26fd;
  font-family: "Denk One", sans-serif;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #e071ff, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.teampostHeading {
  font-family: "Raleway", sans-serif;
  position: relative;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 100px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(134, 255, 182);
  text-shadow: 8px 8px #ff1f8f, 20px 20px #8f4aff;
}

@media only screen and (max-width: 500px) {
  .teampostHeading {
    font-size: 50px;
    text-shadow: 8px 8px #ff1f8f, 20px 20px #8f4aff;
  }
}
