.faq {

  color: $dark-grayish-blue;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 18px;


  // -----------------------------------------------
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;

  &__title {
    margin: 0;
    padding-bottom: 25px;
    width: 50vh;
    text-align: center;
    font-size: 70px;
  line-height: 30px;
  font-weight: bold; 

  }

  &__question {
    font-size: 13px;
    line-height: 18px;
    max-width: 350;
    width: 100%;
    border-bottom: 1px solid $light-grayish-blue;
  }

  &__question-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;

    padding-top: 18px;
    padding-bottom: 18px;

    &::after {
      content: url(../assets/icon-arrow-down.svg);
      margin-right: 17px;
      transform: rotate(90deg);
    }

    &:hover {
      color: $soft-red;
    }
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 3px;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-out;
  }
}
